.gameContainer {
    text-align: center;
    margin-top: 50px;
}

button {
    background: linear-gradient(to right, #eb9aff, #feb47b, #b4fa9f);
    color: white;
    background-size: 200% 100%;
    transition: background-position 0.4s ease-in-out;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    cursor: pointer;
}
button:hover {
    background-position: right;
}

.description {
    margin-top: 20px;
}